<template>
  <div id="bodymain">
    <TopProject/>
  </div>
</template>

<script>
import TopProject from "./topproject.vue";

export default {
  name: 'MainBody',
  components: {
    TopProject,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#bodymain {
  background-color: #f0f0f0;
  color: #3f3f3f;
  padding: 0;
}
h1, h3 {
  margin: 0px;
}
</style>
