<template>
  <div id="topsidebar">
    <div id="topsidebartitle">Top Side Bar</div>
    <div id="sideitems">

      <div class="item-prj" id="prj1" @click="select($event)">
        top item 1
      </div>
      <div class="item-prj-sub">
        sub top item 1
      </div>

      <div class="item-prj">
        top item 2
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'TopSideBar',
  props: {
    subprj: String,
  },
  methods: {
    select: function(event) {
      alert(`id: ${event.currentTarget.id}, hello ${this.name}`);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#topsidebar {
  background-color: #efefef;
  color: #3f3f3f;
  padding: 0;
  margin: 0;
  border-right: 1px solid #afafaf;
}
#topsidebartitle {
  padding: 5px 5px 5px 10px;
}
#sideitems {
  padding: 10px 1px 10px 1px;
}
.item-prj {
  padding: 0px 0px 5px 15px;
}
.item-prj-sub {
  padding: 0px 0px 5px 30px;
}
.item-prj,
.item-prj-sub {
  border: 1px solid #f0f0f0;
  background-color: #d0d0d0;
  cursor: pointer;
}
.item-prj:hover,
.item-prj-sub:hover {
  background-color: rgb(26, 58, 123);
  background-color: #afafaf;
  border: 1px solid #afafaf;
}
</style>
