<template>
  <div id="toptrunk">
    <div>
      <p>Top Trunk</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopTrunk',
  props: {
    subprj: String,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#toptrunk {
  background-color: #fefefe;
  color: #3f3f3f;
  padding: 0;
  border: 1px solid #ffffff;
}
</style>
