<template>
  <div id="footermain">
    <ul>
      <li>{{ firstname }}</li>
      <li>{{ lastname }}</li>
      <li>{{ getdetails() }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MainFooter',
  props: {
    msg: String,
  },
  data() {
    return {
      firstname: "Bottom Footer1",
      lastname: "Bottom Footer2",
      address: "Bottom Footer3",
      imgsrc: require("../assets/logo.png"),
    };
  },
  methods: {
    getdetails() {
      var txt = `${this.address}`;
      return txt;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#footermain {
  background-color: #0071c5;
  /*
   */
  background-color: #808080;

  color: #f5f5f5;
  overflow: hidden;
  padding: 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-top: solid 1px #afafaf;
}
ul {
  padding: 0px;
  margin: 0px 0px 0px 5px;
  list-style-type: none;
}
li {
  border: solid 1px;
  margin: 0px 0px;
  padding: 5px 20px 5px 20px;
  float: left;
}
li:hover {
  border: solid 1px #323436;
  color: #ffffff;
  background-color: #323436;
}
</style>
