<template>
  <MainHeader msg="Main Header"/>
  <MainBody msg="Main Body"/>
  <MainFooter msg="Main Footer"/>
</template>

<script>
import MainHeader from "./components/mainheader.vue";
import MainFooter from './components/mainfooter.vue';
import MainBody from './components/mainbody/mainbody.vue';

export default {
  name: 'App',
  components: {
    MainHeader,
    MainFooter,
    MainBody,
  },
}
</script>

<style>
html, body, #app {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
#app {
  display: grid;
  grid-template-rows: 50px 1fr 35px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
